html {
    margin: 0;
    min-height: 100%;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', arial;
    background-color: #CACACC;
}

.endGame {
    display: flex;
    justify-content: center;
}

.match {
    display: flex;
    justify-content: center;
    margin: 2em;
    padding: 2em;
}

.btnsBox {
    display: flex;
    justify-content: center;    
}

.btnsBox .btn {
    margin: 4em;
    padding: 2em;
}

.btn {
    background-color: 
    #252B43;
    color: #E4E4E8;
    cursor: pointer;
    border-radius: 10%;
    border: 3px solid #40465B;
    box-shadow: 0px 5px #777A8A;
    font-weight: bolder;
}

.btn:hover {
    color: #C8CAD0;
    background-color: #1e2233;

}

.resultsBox {
    display: flex;
    justify-content: space-around;
}

.result, .match, .endGame {
    color: #E4E4E8;
    font-weight: bolder;
    font-size: 1.8em;
    -webkit-text-stroke: #40465B;
    -webkit-text-stroke-width: 1.2px;
}

.score {
    display: flex;
    justify-content: center;
    position: relative;
    top: 0.2em;
}